/*
    CSS Reset
*/
html,
body,
h1,
h2,
h3,
h4,
h5,
input,
button,
ul,
li,
a,
p {
  margin: 0;
  border: 0;
  padding: 0;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;
  background: transparent;
  list-style: none;
}

body {
  margin: 0;
  font-family: 'Montserrat',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:hover {
  text-decoration: none;
  color: #4d90cc;
}

.pointer {
  cursor: pointer;
}

.blue-oschool {
  color: #4d90cc !important;
}

.bg-oschool {
  background-color: #4d90cc !important;
}


h1 {
  font-size: 28px;
  font-weight: 500;
}

h2 {
  font-size: 30px;
}

h3,
h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
  font-weight: bold;
}
